[user]
    name = Ascani Carlo
    email = carlotm@pm.me
	signingkey = B65D77CA6B16E83D
[alias]
    co = checkout
    s = status
    d = icdiff
[color]
    branch = auto
    diff = auto
    status = auto
	ui = true
[color "branch"]
    current = green reverse
    local = green
    remote = yellow
[color "status"]
    added = cyan
    changed = green
    untracked = yellow
[http]
    postBuffer = 524288000
[credential]
    helper = cache --timeout=10800
[pull]
    rebase = true
[init]
	defaultBranch = main
[diff]
	tool = git icdiff
[icdiff]
	options = --highlight
