dotfiles/personal/.config/xfce4/xfconf
dotfiles/personal/FS-UAE/Cache
dotfiles/personal/.config/qutebrowser/qsettings/
dotfiles/personal/.config/blender/4.0/config/platform_support.txt
dotfiles/personal/.config/blender/4.0/config/bookmarks.txt
dotfiles/personal/.config/blender/4.0/config/recent-files.txt
dotfiles/personal/.config/blender/4.0/config/recent-searches.txt
