config/.vim/black
config/.vim/plugged
config/.config/nvim/plugged/
config/.config/nvim/plugin/
config/.vim/autoload
__pycache__
*.pyc
gnustep/GNUstep/Defaults/WMState.*
gnustep/GNUstep/.AppInfo/
gnustep/GNUstep/Library/WindowMaker/CachedPixmaps/
gnustep/GNUstep/Library/WindowMaker/Screenshots/
