vim/.vim/black
vim/.vim/plugged
gnustep/GNUstep/Defaults/WMState
gnustep/GNUstep/Defaults/WMState.*
gnustep/GNUstep/.AppInfo/WindowMaker/History
gnustep/GNUstep/Library/WindowMaker/CachedPixmaps
fonts/.local/share
