snippet log "Logger.error"
require Logger
Logger.error("=BEGIN= ${1:var} ====================================")
Logger.error("#{inspect $1, pretty: true}")
Logger.error("=END= $1 ============================================")
endsnippet
