.xfce4-panel widget grid button.flat.toggle
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #dedede;
    padding: 8px;
    margin: 2px;
    color: #333;
}

.xfce4-panel widget grid button.flat.toggle:hover
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-color: transparent;
    border-radius: 4px;
    padding: 8px;
    color: #666;
}

.xfce4-panel widget grid button.flat.toggle:checked
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-color: transparent;
    border-radius: 4px;
    padding: 8px;
    background: #f00;
    color: #fff;
}
