#clock-button
{
    color: black;
}

.xfce4-panel widget grid button.flat.toggle
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-color: transparent;
    border-radius: 3px;
    border: 0;
    background-color: #f6f5f4;
    padding: 8px;
    margin: 2px;
    color: #999;
}

.xfce4-panel widget grid button.flat.toggle:hover
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-color: transparent;
    border-radius: 3px;
    padding: 8px;
    margin: 2px;
    color: #999;
    border: 0;
}

.xfce4-panel widget grid button.flat.toggle:checked
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-color: transparent;
    border-radius: 3px;
    padding: 8px;
    margin: 2px;
    background: #f00;
    color: #fff;
    border: 0;
}
