.xfce4-panel
{
    background-color: #20478b;
    border-bottom: 0;
}

#clock-button
{
    color: black;
    font-style: italic;
    background-color: #20478b;
    color: white;
    border-radius: 0;
    padding-left: 6px;
    padding-right: 6px;
}

#pulseaudio-button
{
    background-color: #20478b;
    border-radius: 0;
}

wnck-pager
{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

wnck-pager:selected
{
    background-color: rgba(255, 255, 255, 0.3);
}

wnck-pager:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

.xfce4-panel widget button
{
    color: white;
    background-color: #20478b;
    border-radius: 0;
    border: 0;
}

.xfce4-panel widget grid button.flat.toggle
{
    background-color: #20478b;
    color: #ccc;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0;
}

.xfce4-panel widget grid button.flat.toggle:checked
{
    background-color: #20478b;
    color: white;
}
