URxvt.font: xft:IBM Plex Mono:size=11
URxvt.letterSpace: -1
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.loginShell: true
URxvt.scrollBar: false
URxvt.visualBell: true
URxvt.lineSpace: 3
URxvt.mapAlert: true
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

*foreground: #465571
*background: #FDF6E3

!black
*color0:     #465571
*color8:     #7A89AA
!red
*color1:     #BF1E2D
*color9:     #E7212A
!green
*color2:     #9DBA3A
*color10:    #A9C938
!yellow
*color3:     #F5B915
*color11:    #F7D325
!blue
*color4:     #1CA1DB
*color12:    #00AFDA
!magenta
*color5:     #652F90
*color13:    #894E9F
!cyan
*color6:     #EA7D24
*color14:    #F79321
!white
*color7:     #E7E8E9
*color15:    #F3F3F4
