URxvt.font: xft:Courier Prime Code:size=12
URxvt.boldFont: xft:Courier Prime Code:style=italic:size=12
URxvt.letterSpace: -1
URxvt.perl-ext-common: default,matcher,clipboard,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.loginShell: true
URxvt.scrollBar: false
URxvt.visualBell: false
URxvt.lineSpace: 8
URxvt.mapAlert: true
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.urlLauncher: firefox
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset
URxvt.keysym.C-question: resize-font:show
URxvt.clipboard.autocopy: true

Xft*dpi: 97
Xft*antialias: true
Xft*hinting: medium

! special
*.foreground:   #4c4c4c
*.background:   #FFF9DC
*.cursorColor:  #ff0000

! black
*.color0:       #ffffff
*.color8:       #cfcfcf

! red
*.color1:       #e75c58
*.color9:       #b22b31

! green
*.color2:       #00a250
*.color10:      #007427

! yellow
*.color3:       #a08a00
*.color11:      #715f00

! blue
*.color4:       #208ffb
*.color12:      #0065ca

! magenta
*.color5:       #d160c4
*.color13:      #a03196

! cyan
*.color6:       #00a4c1
*.color14:      #007693

! white
*.color7:       #3e424d
*.color15:      #282c36
