URxvt.font: xft:IBM Plex Mono:size=11
URxvt.letterSpace: 0
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.loginShell: true
URxvt.scrollBar: false
URxvt.visualBell: true
URxvt.mapAlert: true
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

*foreground: #34302d
*background: #f5e7de

*color0: #666661
*color8: #7F7F7a
*color1: #992e2e
*color9: #b23636
*color2: #4c3226
*color10: #664233
*color3: #a67c53
*color11: #bf8f60
*color4: #4c7399
*color12: #5986b2
*color5: #bf9986
*color13: #d9Ae98
*color6: #d97742
*color14: #f2854a
*color7: #34302d
*color15: #4c4742

