.xfce4-panel widget grid button.flat.toggle
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-radius: 0;
    border-color: transparent;
    border-right: 2px solid black;
    padding: 8px;
    color: #666;
}

.xfce4-panel widget grid button.flat.toggle:hover
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-radius: 0;
    border-color: transparent;
    border-right: 2px solid black;
    padding: 8px;
    color: #666;
}

.xfce4-panel widget grid button.flat.toggle:checked
{
    font-family: 'Noto Sans';
    font-weight: 900;
    font-size: 16px;
    border-radius: 0;
    padding: 8px;
    border-color: transparent;
    border-right: 2px solid red;
    background: #000000;
    color: white;
}
