[user]
    name = Ascani Carlo
    email = carlotm@pm.me
[alias]
    co = checkout
    s = status
    d = diff
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green reverse
    local = green
    remote = yellow
[color "diff"]
    meta = magenta bold
    frag = black bold
    old = red bold
    new = green
[color "status"]
    added = blue
    changed = green
    untracked = yellow
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[http]
    postBuffer = 524288000
[credential]
    helper = cache --timeout=10800
[pull]
    rebase = true
[cola]
	startupmode = folder
	spellcheck = false
[init]
	defaultBranch = main
